body{
  background: #e8e8e8;
}
li{
  text-align: left;
  padding: 0.3em;
  margin-left: 1em;
} 

.grid{
  display: grid;
  grid-template-areas: 
                    "a"
                    "b" 
                    "c"
                    "d" 
                    "e"
                    "f";
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1000px) {
  .grid {
    /*grid-template-columns: 2fr 4fr;*/
    grid-template-areas: 
                    "a a"
                    "b c" 
                    "d e"
                    "d f"
  }

/*   ul{
  font-size: 0.5em;
  }  */
}

.grid-item{
  padding: 1.5em;
  text-align: center;
  margin: 1em;
  display: inline-block;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 5px white;
  border-radius: 1%;
  background: white;
  min-width: 200px;
}
.image1{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}
.grid-item:nth-child(1){
  grid-area: a;
}
.grid-item:nth-child(4){
  grid-area: d;
}

.text11{
  width: 50%;
  height: 100%;
  text-align: center;
}
.box1{
  display: flex;

}
